<!doctype html>
<html>
<head>
<link href="static/favicon.ico" rel="shortcut icon"/>
    <title><img src="static/zotwb_logo.jpg" alt="ZotWb logo" style="height:10%" /> Zotero Fields mapping - ZotWb</title>
</head>
<body>
<h1><img src="static/zotwb_logo.jpg" alt="ZotWb logo" style="height:10%" /> Mapping configuration for Zotero item type '{{ itemtype }}'</h1>
{% for message in messages %}<p style = "{{ msgcolor }}">{{ message|safe }}<p>{% endfor %}
<small>(Back to <a href="/">start page</a>)</small>
<p>This page configures the field-property mapping used in the Zotero-to-Wikibase export concerning '{{ itemtype }}'.</br>
    "False" as value means that this field will be permanently ignored (not mapped to anything). You can manually set that value entering "False" or just a capital "X".</br>
    "None" as value means that this mapping is still undefined, and that the export function will complain when encountering data in that field. You can not manually set that value.</br>
    <u>Be careful</u> creating new properties; you may create duplicates.</br>
    <small>The property you manually associate to a field <u>must</u> be of the datatype listed here (this is not validated by the tool!).</br>
    These fields recieve a special treatment and are not configered here: language, ISBN, extra.</br>
    You can also get labels, aliases and descriptions from the proposed Wikidata entity ('import' button).</br>
    To change the alignment of Wikibase and Wikidata properties, go to the <a href="/wikidata_alignment">Wikidata alignment</a> page.</br>
    To change the alignment of Zotero bibitem types and Wikidata items (probably not necessary), do that manually in the <code>mappings/zotero_types_wd.json</code> file.</small></p>
{% if itemtype == 'all_types' %}
<h2>Editing all bibitem types at once</h2>
<p>This page configures properties mappings for all bibitem types at the same time.</br>
    <u>Be careful</u>: if you update something on this page, that will overwrite all mappings for the fields with the same name in <u>all</u> bibitem types.</br>
To define mappings for a single bibitem type (so that fields with the same name can be mapped differently according to the bibitem type), go to the corresponding page (<a href="/">index</a>).</p>
{% else %}
<h3>BibItem type</h3>
<p>The <b>Q-ID</b> for "{{ itemtype }}" on your Wikibase:
<form style="display: inline;" method="POST">
    &#129054; {%if zoteromapping[itemtype]['bibtypeqid'] %}<a href="{{ wikibase_entity_ns }}{{ zoteromapping[itemtype]['bibtypeqid'] }}" target="_blank">wb:{{ zoteromapping[itemtype]['bibtypeqid'] }}</a>{% endif %}
    <input type="text" name="bibtypeqid" value={{ zoteromapping[itemtype]['bibtypeqid'] }} style="width: 60px;">
    <input type="submit" value="Update this">
</form>or <form style="display: inline;" method="POST">
    <button name= {{ 'bibtypeqid_create' }} type="submit">&#10071; Create new from wd:{{ zotero_types_wd[itemtype] }}&#10071;</button>
</form> or
<form style="display: inline;" method="POST">
    <button name= {{ 'bibtypeqid_redo' }} type="submit">Import wd:{{ zotero_types_wd[itemtype] }} to wb:{{ zoteromapping[itemtype]['bibtypeqid'] }}</button>
</form>
<small><i>Aligned Wikidata item: </i><a href="http://www.wikidata.org/entity/{{ zotero_types_wd[itemtype] }}" target="_blank">{{ zotero_types_wd[itemtype] }}</a> (<a href="../wikidata_alignment" target="_blank">change</a>)</small>
</p>
{% endif %}
<table>
    <tr><td valign="top" padding="15px">
<h3>Data fields configuration</h3>
{% for fieldname in zoteromapping[itemtype]['fields'] %}
<p>
<form style="display: inline;" method="POST">
 &#10026; <b>{{ fieldname }}</b> ('{{ zoteromapping['all_types']['fields'][fieldname]['name'] }}') &#129054;
{% if zoteromapping[itemtype]['fields'][fieldname]['wbprop'] %}
    <a href="{{ wikibase_entity_ns }}{{ zoteromapping[itemtype]['fields'][fieldname]['wbprop'] }}" target="_blank">wb:{{ zoteromapping[itemtype]['fields'][fieldname]['wbprop'] }}</a>
{% endif %}
    <input type="text" placeholder={{ zoteromapping[itemtype]['fields'][fieldname]['wbprop'] }} name = {{ 'fields@' + fieldname }} style="width: 40px;" />
    <input type="submit" value="Update this">
</form> or <form style="display: inline;" method="POST">
    <button name= {{ 'fields@' + fieldname + '_create' }} type="submit">&#10071; Create new &#10071;</button>
</form>
{% if zoteromapping[itemtype]['fields'][fieldname]['wbprop'] and zoteromapping[itemtype]['fields'][fieldname]['wbprop'] in properties %}
{% if properties[zoteromapping[itemtype]['fields'][fieldname]['wbprop']]['wdprop'] %}
       </br> or
        <form style="display: inline;" method="POST">
            <button name={{
            'fields@' + fieldname + '_redo' }} type="submit">Import wd:{{
            properties[zoteromapping[itemtype]['fields'][fieldname]['wbprop']]['wdprop'] }} to wb:{{
            zoteromapping[itemtype]['fields'][fieldname]['wbprop'] }}</button>
        </form>
    <small><i>Aligned Wikidata property: </i><a
                href="http://www.wikidata.org/entity/{{ properties[zoteromapping[itemtype]['fields'][fieldname]['wbprop']]['wdprop'] }}"
                target="_blank">wd:{{ properties[zoteromapping[itemtype]['fields'][fieldname]['wbprop']]['wdprop']
            }}</a> (<a href="../wikidata_alignment" target="_blank">change</a>)</small>
        {% endif %}
{% endif %}
{% if fieldname in wikidata_suggestions %}
        </br>or
<form style="display: inline;" method="POST">
    <button name="{{ 'fields@' + fieldname + '_create_from_wd' }}" type="submit">&#10071; Import wd:{{
    wikidata_suggestions[fieldname] }} to new wb property &#10071;</button> </form>
        <small><i>Suggested Wikidata equivalent: </i><a
href="http://www.wikidata.org/entity/{{ wikidata_suggestions[fieldname] }}"
target="_blank">wd:{{ wikidata_suggestions[fieldname] }}</a></small>
{% endif %}
{% if zoteromapping[itemtype]['fields'][fieldname]['wbprop'] %}
</br>
{% endif %}
{% if 'dtype' in zoteromapping['all_types']['fields'][fieldname] %}
</br><small><i>Property datatype: {{ zoteromapping['all_types']['fields'][fieldname]['dtype'] }}</i></small>
{% endif %}</p>
{% endfor %}
</td><td valign="top" padding="15px">
<h3>Creator types configuration</h3>
{% for creatortype in zoteromapping[itemtype]['creatorTypes'] %}
<p>
<form style="display: inline;" method="POST">
 &#10026; <b>{{ creatortype }}</b> ('{{ zoteromapping['all_types']['creatorTypes'][creatortype]['name'] }}') &#129054;
{% if zoteromapping[itemtype]['creatorTypes'][creatortype]['wbprop'] %}
    <a href="{{ wikibase_entity_ns }}{{ zoteromapping[itemtype]['creatorTypes'][creatortype]['wbprop'] }}" target="_blank">wb:{{ zoteromapping[itemtype]['creatorTypes'][creatortype]['wbprop'] }}</a>
{% endif %}
    <input type="text" placeholder={{ zoteromapping[itemtype]['creatorTypes'][creatortype]['wbprop'] }} name = {{ 'creatorTypes@' + creatortype }} style="width: 40px;" />
    <input type="submit" value="Update this">
</form> or <form style="display: inline;" method="POST">
    <button name= {{ 'creatorTypes@' + creatortype + '_create' }} type="submit">&#10071; Create new &#10071;</button>
</form>
{% if zoteromapping[itemtype]['creatorTypes'][creatortype]['wbprop'] and zoteromapping[itemtype]['creatorTypes'][creatortype]['wbprop'] in properties %}
{% if properties[zoteromapping[itemtype]['creatorTypes'][creatortype]['wbprop']]['wdprop'] %}
</br> or
<form style="display: inline;" method="POST">
    <button name= {{ 'creatorTypes@' + creatortype + '_redo' }} type="submit">Import wd:{{ properties[zoteromapping[itemtype]['creatorTypes'][creatortype]['wbprop']]['wdprop'] }} to wb:{{ zoteromapping[itemtype]['creatorTypes'][creatortype]['wbprop'] }}</button>
</form>
<small><i>Aligned Wikidata property: </i><a href="http://www.wikidata.org/entity/{{ properties[zoteromapping[itemtype]['creatorTypes'][creatortype]['wbprop']]['wdprop'] }}" target="_blank">wd:{{ properties[zoteromapping[itemtype]['creatorTypes'][creatortype]['wbprop']]['wdprop'] }}</a> (<a href="../wikidata_alignment" target="_blank">change</a>)</small>
{% endif %}
{% endif %}
{% if 'dtype' in zoteromapping['all_types']['creatorTypes'][creatortype] %}
</br><small><i>Property datatype: {{ zoteromapping['all_types']['creatorTypes'][creatortype]['dtype'] }}</i></small>
{% endif %}</p>
{% endfor %}
</td></tr>
</table>
</body>
</html>
